* {
    margin:0; padding:0;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    background: url(../img/Galaxy.png) no-repeat center center fixed;
    margin:0; padding:0; height:100%; width:100%;
    background-size: cover;
}
@font-face {
    font-family: "Frank";
    src: url(../fonts/Longhaul.ttf);
}
@font-face {
    font-family: "Delicate Strict A ";
    src: url(../fonts/HelveticaNeue-BlackCond.otf);
}
@font-face {
    font-family: "Helvetica Neue Q";
    src: url(../fonts/Delicate_strict.ttf);
}
@font-face {
    font-family: "U";
    src: url(../fonts/Futura.ttf);
}
@font-face {
    font-family: "Steelfish Rg E";
    src: url(../fonts/steelfish_bd.ttf);
}
@font-face {
    font-family: "MontserratL";
    src: url(../fonts/Mont.ttf);
}

.fullscreen-bg {
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.testegrad{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
}


.antiflick-modalA{
    min-height: 53% !important;
    max-height: 53% !important;
}
.antiflick-modalU{
    min-height: 39% !important;
    max-height: 39% !important;
}
.antiflick-modalE{
    min-height: 57% !important;
    max-height: 57% !important;
}
.antiflick-modalL{
    min-height: 39% !important;
    max-height: 39% !important;
}
.antiflick-modalQ{
    min-height: 63% !important;
    max-height: 63% !important;
}
.iconmodal{
    top: 0 !important;
    min-height: 100% !important;
    max-height: 100% !important;
}

